body{
    background-color: #5bc0de;
    margin-top: 10px;
}
.clear {
    clear: both;
}
.table-responsive .table{
    background-color: white;
}
#container-site{
    padding:10px;
    background-color: #f9f9f9;
    margin-top: 54px;
}
.profile-image img{
    float: right;
    margin: 20px;
}
.navbar .container{
    margin-left: auto;
    margin-right: auto;



}
.login-content{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 300px;
    margin-left: -40px;
}
.register-content{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-left: -40px;
}

.edit-profile-button{
    float: right;
}