{% include "header.html" %}

{% if request.user.is_authenticated %}
    <hr>
    <div class="container">
    <div class="row">
        <div class="col-sm-2"><a href="#" class="profile-image"><img title="profile image"
                                                                     class="img-circle img-responsive"
                                                                     src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-3"><!--left col-->

        <ul class="list-group">

            <li class="list-group-item text-muted">Profile
                <div class="edit-profile-button">
                    <a href="/editprofil">
                        <button type="button" class="btn btn-primary btn-xs">Profili Düzenle</button>
                    </a>
                </div>
            </li>


            <li class="list-group-item text-right"><span class="pull-left"><strong>Giriş Tarihi</strong></span>
                {{ request.user.last_login.date }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Son Giriş</strong></span>
                {{ request.user.last_login.time }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Gerçek İsim</strong></span>
                {{ request.user.first_name }} {{ request.user.last_name }}
            </li>

        </ul>

        <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="{{ user_details.url }}">{{ user_details.url }}</a></div>
        </div>

        <ul class="list-group">
            <li class="list-group-item text-muted">Aktivite Durumu <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Cevapladığım
                Ticketlar</strong></span>
                125
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Kapanan Ticketlar</strong></span> 37
            </li>

        </ul>

        <div class="panel panel-default">
            <div class="panel-heading">Bağlantılarım</div>
            <div class="panel-body">
                <ul class="social-network social-circle">
                    <li><a target="_blank" href="{{ user_details.facebook }}" class="icoFacebook" title="Facebook"><i
                            class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="{{ user_details.twitter }}" class="icoTwitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="{{ user_details.github }}" class="icoGithub" title="Github"><i
                            class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#son-aktiviteler" data-toggle="tab">Son Aktiviteler</a></li>
        <li><a href="#acik-ticket" data-toggle="tab">Açık Ticketlarım</a></li>
        <li><a href="#kapanmis-ticket" data-toggle="tab">Kapanmış Ticketlarım</a></li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane active" id="son-aktiviteler">
        <br>

        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><i class="pull-right fa fa-edit"></i> Bugün 09:30 - <a href="#"> Deneme1 Ticket'i
                        cevaplandı</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="pull-right fa fa-edit"></i> Dün, 16:23 - <a href="#">Ticket Havuzuna Deneme
                        isimli Ticket açtı cevaplandı</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!--/tab-pane-->
    <div class="tab-pane" id="acik-ticket">

        <h2></h2>

        <ul class="list-group">
            <li class="list-group-item text-muted">Inbox</li>
            <li class="list-group-item text-right"><a href="#" class="pull-left">How to call an optional
                protocol method?</a> 2.13.2014
            </li>
        </ul>

    </div>
    <!--/tab-pane
    <!--/tab-pane-->
    <div class="tab-pane" id="kapanmis-ticket">

        <h2></h2>

        <ul class="list-group">
            <li class="list-group-item text-muted">Inbox</li>
            <li class="list-group-item text-right"><a href="#" class="pull-left">pısrt
                hatasısısasdıasdasd sadsad .</a> 2.13.2014
            </li>
        </ul>

    </div>
    <!--/tab-pane-->
    <!--/tab-pane-->
    <!--/row-->

{% else %}
    <center><h1>Lütfen Giriş Yapın</h1></center>
{% endif %}


{% include "footer.html" %}