{% include "header.html" %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1>{{ request.user.username }}</h1></div>
        <div class="col-sm-2"><a href="#" class="profile-image"><img title="profile image"
                                                                     class="img-circle img-responsive"
                                                                     src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Giriş Tarihi</strong></span>
                    2.13.2014
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Son Giriş</strong></span>
                    Yesterday
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Gerçek İsim</strong></span>
                    Joseph Doe
                </li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="http://omeryazir.com">omeryazir.com</a></div>
            </div>


            <ul class="list-group">
                <li class="list-group-item text-muted">Aktivite Durumu <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cevaladığım
                    Ticketlar</strong></span> 125
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cevaplanan
                    Ticketlar</strong></span> 13
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Kapanan Ticketlar</strong></span>
                    37
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Puan</strong></span> 78
                </li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Sosyal Medya</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                        class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                        class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div>
<!--/col-3-->
<div class="col-sm-9">

    <ul class="nav nav-tabs " id="myTab">
       <li><a href="#settings" data-toggle="tab">Profil Bilgileri</a></li>
    </ul>

    <div class="tab-content">


        <div class="tab-pane active" id="settings">


            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>İsim</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name"
                               placeholder="Kullanıcı İsmi" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Soyisim</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name"
                               placeholder="Kullanıcı Soy İsmi" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Telefon</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone"
                               placeholder="Telefon" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Cep Telefonu</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile"
                               placeholder="cep telefonu" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>E - Posta</h4></label>
                        <input type="email" class="form-control" name="email" id="email"
                               placeholder="kullanıcı@gmail.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Şehir</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="Şehir"
                               title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Parola</h4></label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="parola" title="enter your password.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit"><i
                                class="glyphicon glyphicon-ok-sign"></i> Kaydet
                        </button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                            Sıfırla
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!--/tab-pane-->
</div>
    </div>
    <!--/col-9-->
</div><!--/row-->

{% else %}

{% endif %}
<!--/tab-content-->
{% include "footer.html" %}