<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</div>



<div class="container">
    <p class="navbar-text pull-right">
    </p>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">

    <div class="container">
        <p class="navbar-text pull-left"> Support System © 2015 Django, Python, HTML5, CSS, Bootstrap | Developer
            <a href="#" target="_self"> Sercan Arıcı</a>
            <a href="http://www.omeryazir.com/" target="_blank"> Ömer Yazır</a>

        </p>

        <a href="#" class="navbar-btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-star"></span>LYK 2015</a>
    </div>


</div>
</body>
</html>