{% include "header.html" %}


{% if request.user.is_authenticated %}
    {% if  request.user.is_staff %}
        <center><h1>Ticket Havuzu</h1></center>
        <ul class="list-group">
            <li class="list-group-item text-muted">Inbox</li>
            {% for ticket in pool_tickets %}
                <li class="list-group-item text-right">
                    <a href="{% url "ticket-details" ticket.id %}"
                       class="pull-left">{{ ticket.title }}</a> {{ ticket.create_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <center><h1>Kullanıcı Giriş Ana Sayfamız Boşş</h1></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    {% endif %}



{% else %}

    <center><h1>Lütfen Giriş Yapın</h1></center>

{% endif %}


{% include "footer.html" %}