{% include "header.html" %}
{{ e }}
{% if  request.user.is_authenticated %}
    <div class="well">

    <div class="row">
    <div class="col-sm-1">
        <div class="thumbnail">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div>
        <!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-sm-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ ticket.title }}</h3>

                <div class="panel-heading">
                 <b class="text-muted pull-right">Ticket Sahibi:{{ ticket.user }} | Toplam Cevap Sayısı:{{ ticket_answers.count }}
                     | {{ ticket.create_date }} </b>
                </div>
            </div>
            <div class="panel-body">
                {{ ticket.content }}
            </div>
            <!-- /panel-body -->
        </div>
        <!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
    </div>

    </div>
    <ul class="timeline">
        {% for answer in ticket_answers %}
            {% if not answer.user.is_staff %}

                <li>
                    <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"
                                                              title="11 hours ago via Twitter" id=""></i></a></div>
                    <div class="timeline-panel">

                        <div class="timeline-body">
                            <p>{{ answer.content }}</p>

                        </div>

                        <div class="timeline-footer">
                            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                            <a class="pull-right">  Yanıtlayan: {{ answer.user.username }}</a>
                            <a class="pull-right">{{ answer.create_date }}&nbsp|&nbsp </a>
                        </div>
                    </div>
                </li>
            {% else %}

                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"
                                                              title="11 hours ago via Twitter" id=""></i></a></div>
                    <div class="timeline-panel">

                        <div class="timeline-body">
                            <p>{{ answer.content }}</p>

                        </div>

                        <div class="timeline-footer">
                            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                            <a class="pull-right"> Yanıtlayan : {{ answer.user.username }}</a>
                            <a class="pull-right">{{ answer.create_date }}&nbsp|&nbsp </a>
                        </div>
                    </div>
                </li>

            {% endif %}
        {% endfor %}


    </ul>
        {% if request.user.is_staff %}
            <div class="col-sm-8 contact-form pull-right">
                <form id="contact" method="post" class="form" role="form">{% csrf_token %}


                    <div class="row">
                        <div class="col-xs-8 col-md-8 form-group pull-right">
                                <textarea class="form-control" id="answercontent" name="answercontent" placeholder="Ticket Konusu"
                                          rows="5"></textarea>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-left" type="submit">Oluştur</button>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="col-sm-8 contact-form">
                <form id="contact" method="post" class="form" role="form">{% csrf_token %}


                    <div class="row">
                        <div class="col-xs-8 col-md-8 form-group pull-left">
                                <textarea class="form-control" id="answercontent" name="answercontent" placeholder="Ticket Konusu"
                                          rows="5"></textarea>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-left" type="submit">Oluştur</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
{% else %}
    <center><h1>Lütfen Giriş Yapın</h1></center>
{% endif %}


{% include "footer.html" %}