{% include "header.html" %}

{% if  request.user.is_authenticated %}
    ticket sahibi: {{ ticket.user }}
    </br>
    ticket title: {{ ticket.title }}
    </br>
    ticket content: {{ ticket.content }} : Tarih: {{ ticket.create_date }}

    <ul>
        {% for answer in ticket_answers %}
            <li>
                {{ answer.create_date }}-{{ answer.content }}
                {{ answer.user.username }}
            </li>
        {% endfor %}
    </ul>

{% else %}
    <center><h1>Lütfen Giriş Yapın</h1></center>
{% endif %}


{% include "footer.html" %}